@import url("https://fonts.googleapis.com/css2?family=Biryani:wght@200;400;600&display=swap");

// COLORS

$main: #c9cfff;
$main-light: #eff3ff;
$accent: #abc3ff;
$dark-grey: #4d4d4d;

%full-size {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  cursor: default;
}

html {
  font-family: "Biryani", sans-serif;
  font-weight: 200;
}

html,
body {
  @extend %full-size;
}

body {
  background-color: $main;
}

.calculator {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 4fr;
  padding: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 320px;
  height: 600px;
  border-radius: 30px;

  .calculator-window {
    @extend %full-size;
    border-radius: 20px;
    background: linear-gradient(white, $main-light);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr;
    .formula-window {
      @extend %full-size;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      overflow-wrap: anywhere;
      word-break: break-word;
      font-size: 20px;
      font-weight: 400;
      color: $accent;
      padding: 5px;
      text-align: end;
    }
    .user-input {
      font-size: 25px;
      font-weight: 600;
      color: $accent;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding: 5px;
    }
  }

  .calculator-buttons {
    @extend %full-size;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "clear back percentage division"
      "seven eight nine multiply"
      "four five six minus"
      "one two three plus"
      ". zero period equal";
    align-items: center;

    .calculator-buttons__area {
      @extend %full-size;
      display: flex;
      justify-content: center;
      align-items: center;
      .calculator-button-wrapper {
        height: 65px;
        width: 65px;
        background: linear-gradient($main, white, white);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .button {
          border-radius: 50%;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
        }
        .button-operation {
          @extend %full-size;
          background-color: $main-light;
          color: $main;
          &:hover {
            background-color: $main;
            color: white;
          }
        }
        .button-operation_equal {
          background-color: $accent;
          color: white;
        }
        .button-number {
          width: 62px;
          height: 62px;
          color: $dark-grey;
          &:hover {
            @extend %full-size;
            background-color: $main;
            color: white;
          }
        }
      }
    }

    .clear {
      grid-area: clear;
    }
    .back {
      grid-area: back;
    }
    .percentage {
      grid-area: percentage;
    }
    .division {
      grid-area: division;
    }
    .multiply {
      grid-area: multiply;
    }
    .minus {
      grid-area: minus;
    }
    .plus {
      grid-area: plus;
    }
    .equal {
      grid-area: equal;
    }
    .period {
      grid-area: period;
    }
    .zero {
      grid-area: zero;
    }
    .one {
      grid-area: one;
    }
    .two {
      grid-area: two;
    }
    .three {
      grid-area: three;
    }
    .four {
      grid-area: four;
    }
    .five {
      grid-area: five;
    }
    .six {
      grid-area: six;
    }
    .seven {
      grid-area: seven;
    }
    .eight {
      grid-area: eight;
    }
    .nine {
      grid-area: nine;
    }
  }
}
